@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,500;1,500&display=swap');

body{
    font-family: 'hanken Grotesk', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-boxs;
}

.logo img{
    width: 50px;
    margin-left:50px;
}

.topnav {
    display: flex;
    justify-content: space-between;
    background-color: rgba(165, 42, 42, 0.295);
}

.topnav li{
    float:inline-start;
    display: flex;
    color:rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 19px;
    /* margin-top:0; */
}
  
.topnav li:hover {
    background-color:rgba(250, 233, 233, 0.212);
    color: rgba(255, 255, 255);
    height: 80%;
}

.media img{
    width: 30px;
    margin-top: 30px;
    margin-right: 20px;
}

.media{
    margin-right: 30px;
    color: wheat;
}

.container{
    background-image: url("bg-img.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-color:brown;
    background-blend-mode: multiply;
    background-blend-mode:soft-light;
    height: 830px;
} 

.shoe1 img{
    float: right;
    margin-top: 50px;
    margin-right: 50px;
    width: 40%;
    height: 50%;
}

.part1{
    margin-inline-start: auto;
    margin-left: 150px;
    margin-top: -150px;

}

.content{
    margin-top: 350px;
    padding-bottom: 200px;
    color: white;
    font-weight: bold;
}

.our{
    font-size: 25px;
    margin-bottom: -50px;
}

.best{
    font-size: 60px;
}

.lang{
    font-size: 20px;
    margin-top: -30px;
}

/* input[type=submit]{
    width: 20%;
    padding: 20px;
} */

.part2 p{
    font-weight: bold;
}

.part2{
    display: inline-flexbox;
    margin-top: 100px;
}

.part2 img{
    float: inline-start;
    /* margin-right: 30px; */
    padding-left: 15px;
}
 
.shoe-image img{
    padding-left: 25px;
}

.names img{
    width: 90px;
    margin-left: 130px;
    opacity: 0.2;
    padding-left: 10px;
}

.names{
    margin-top: 300px;
    margin-bottom: 100px;
}

.names img:hover{
        opacity: 0.8;
}

.shoe2{
   float: right;
   padding-top: 1px;
   padding-right: 20px;
   height: 20%;
   padding-right: 1px;
}
.no{
    list-style: none;
    margin-top: 50px;    
    padding-top: 100px;
    margin-left: 150px;
}

.sport{
    display: flex;
    padding-top: 250px;
    margin: -200px;
}
.sport1{
    padding-left: 20px;
    margin-left: 130px;
}
.sport2{
    padding-left: 30px;
    margin-left: 50px;
    padding-bottom: 95px;
}

.part3{
    background-image: url("bg-img.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-color: rgb(165, 42, 42);
    background-blend-mode: soft-light;
    color: white;
    margin-top: 80px;
}

.types{
    display: inline-flex;
    font-size: 30px;
    font-weight: bold;
    list-style-type: none;
    padding-top: 25px;
}
.type1{
    margin-left: 25px;
}

.type2{
    margin-left: 360px;
}

.type3{
    margin-left: 200px;
}

.part4 p{
    font-weight: bold;
}

.part4{
    display: inline-flexbox;
}

.part4 img{
    float: inline-start;
    margin-right: 35px;
    width: 350px;
    padding: 20px;
}

.blogs{
    display: inline-flex;
    font-size: 25px;
    font-weight: bold;
    list-style-type: none
}

.name1{
    margin-left: 40px;
}

.name2{
    margin-left: 280px;
}

.name3{
    margin-left: 235px;
}

.define{
    display: inline-flex;
    font-size: 20px;
}

.design1{
    margin-left: 40px;
}

.design2{
    margin-left: 80px;
}

.design3{
    margin-left: 70px;
}

.para4{
    background-color:rgb(238, 232, 232);
}

.abt{
    margin-top:20px;
    padding-top: 60px;
    margin-left: 30px;
}

.blog{
    margin-top: -15px;
    margin-left: 30px;
}

.features{
    display: inline-flex;
}

.world{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 60px;
}

.world h3{
    font-size: 30px;
    font-weight: bold;
}

.world p{
    font-size: 19px;
    color: darkslategrey;
}

.online{
    margin-left: 70px;
    margin-right: 50px;
    margin-top: 135px;
}

.online h3{
    font-size: 30px;
    font-weight: bold;
}

.online p{
    font-size: 19px;
    color: darkslategrey;
}

.create{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 70px;
}

.create h3{
    font-size: 30px;
    font-weight: bold;
}

.create p{
    font-size: 19px;
    color: darkslategrey;
}

.spl{
    margin-left: 60px;
    margin-right: 50px;
    margin-top: 120px;
}

.spl h3{
    font-size: 30px;
    font-weight: bold;
}

.spl p{
    font-size: 19px;
    color: darkslategrey;
}

.releases{
    float: left;
    padding-top: 75px;
    padding-right: 20px;
    height: 10%;
    margin-left: 20px;
 }
 .point{
    list-style: none;
    margin-top: 50px;    
    padding-top: 100px;
 }
 
 .run{
    display: flex;
    padding-top: 250px;
    margin: -200px;
 }
 .point1{
    padding-left: 10px;
    margin-left: 70px;
    margin-top: 10px;
 }
 .point2{
    padding-left: 30px;
    margin-left: 20px;
    padding-bottom: 175px;
    margin-top: -30px;
    
 }
 
 .new{
    background-image: url("bg-img.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-color: rgb(165, 42, 42);
    background-blend-mode: soft-light;
    color: rgb(255, 255, 255);
 }
 .two h4{
    margin-left: 100px;
 }

 .brand{
    padding-top: 250px;
 }

 .newone img{
    float: right;
    width: 620px;
    height: 600px;
    margin-right: 40px;
 }

 .topic{
    font-size: 45px;
    /* font-weight:bolder; */
    margin-left: 75px;
    margin-top: 150px;
    margin-bottom: -30px;
 }

 .percent1 h5{
    margin-left: 75px;
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 10px;
 }

 .percentage1{
    margin-left: 550px;
    margin-top: -55px;
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 10px;
 }

 .range1{
    width: 500px;
    height: 4px;
    background-color: black;
    margin-left: 75px;
    margin-bottom: -1px;
 }

 .r1{
    margin-left: 75px;
    margin-top: -10px;
 }

 .percent2 h5{
    margin-left: 75px;
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 10px;
 }

 .percentage2{
    margin-left: 500px;
    margin-top: -55px;
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 10px;
 }

 .range2{
    width: 450px;
    height: 4px;
    background-color: black;
    margin-left: 75px;
    margin-bottom: -1px;
 }

 .r2{
    margin-left: 75px;
    margin-top: -10px;
 }

 .percent3 h5{
    margin-left: 75px;
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 10px;
 }

 .percentage3{
    margin-left: 450px;
    margin-top: -55px;
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 10px;
 }

 .range3{
    width: 400px;
    height: 4px;
    background-color: black;
    margin-left: 75px;
    margin-bottom: -5px;
 }

 .r3{
    margin-left: 75px;
    margin-top: -10px;
 } 

 .footer{
    background-color: rgb(43, 40, 40);
    color: white;
    margin-top: 230px;
 }

 .footimg img{
    width: 50px;
    height: 50px;
    margin-left: 30px;
    margin-top: 80px;
 }

 .footimg h5{
    font-size: 23px;
    margin-left: 114px;
    margin-top: -45px;
 }

 .footcnt{
    margin-left: 30px;
    font-size: 46px;
    font-weight: bold;
    margin-top: -15px;
 }
 
.final{
    margin-left: 30px;
    font-size: 18px;
    margin-top: -20px;
    color: darkgrey;
}

input[type=submit]{
    width: 15%;
    padding: 20px;
    margin-left: 30px;
    margin-bottom: 70px;
    margin-top: 40px;
    font-size: 17px;
    color: black;
    background-color: white;
}

input[type=submit]:hover{
    background-color: rgb(99, 96, 96);
    color: white;
}

.finally p{
    font-size: 15px;
    text-align: center;
    background-color: black;
    color: white;
    padding: 30px;
    /* height: 100px; */
    margin-top: -10px;
    margin-bottom: -10px;
}

.icons{
    color: white;
    margin-right: 70px;
    margin-top: 30px;
    font-size: 25px;
}

.icons i{
    margin-left: 20px;
}